{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}
<!DOCTYPE html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <style>
            .titulo{
              background-color: rgb(11, 35, 30);
              padding: 30px;
              font-family: arial;
            }
            h1{
            color: white;
            font-size: xxx-large;
            }
        </style>
    </head>
    
        <!-- Encabezado-->
        <div align="center" class="titulo">
            <h1>Estadísticas</h1>
        </div>

    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>
        <body>
            <!-- Contenedor principal con margen superior -->
            <div class="container mt-4">
                <!-- Fila -->
                <div class="row">
                    <!-- Columna centrada en dispositivos medianos (ancho pantalla <= 768)-->
                    <div class="col-md-8 offset-md-2">

                        <!-- Div centrado con margenes inferiores-->
                        <div class="text-center mb-3">

                            <p>Reportes/Solicitudes de Seguridad: {{ reportes_seguridad }}</p>

                            <p>Reportes/Solicitudes de Alumbrado: {{ reportes_alumbrado }}</p>

                            <p>Reportes/Solicitudes Viales: {{ reportes_viales }}</p>

                            <p>Reportes/Solicitudes Civiles: {{ reportes_civiles }}</p>

                            

                            <!-- Contenedor para el gráfico -->
                            <div style="height:400px;">
                                <!-- Canvas donde se mostrará el gráfico -->
                                <canvas id="miGrafico2"></canvas>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- JavaScript para crear y configurar el gráfico -->
            <script>
                //Datos para el gráfico
                var datos2 = {
                    labels: ["Seguridad", "Alumbrado", "Viales", "Civiles"],
                    datasets: [{
                        label: "Estadísticas",
                        backgroundColor: ["red", "blue", "green","purple"],
                        data: [{{ reportes_seguridad }}, {{ reportes_alumbrado }}, {{ reportes_viales }}, {{ reportes_civiles }}]
                    }]
                };
                //Configuración del gráfico
                var opciones2 = {
                    responsive: true,
                    maintainAspectRatio: false
                }
                // Crear el Gráfico
                var ctx2 = document.getElementById("miGrafico2").getContext("2d")
                var miGrafico2 = new Chart(ctx2, {
                    type: 'pie',
                    data: datos2,
                    options: opciones2
                });

            </script>
                 
        </body>
        <a class="nav-link"  href="{% url 'estadisticas_reportes' %}"> Anterior<<< </a>
    </html>
{% endblock %}


