{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
        <style>
            .titulo{
              background-color: darkgreen;
              padding: 30px;
              font-family: arial;
            }
            h1{
            color: white;
            font-size: xxx-large;
            }
        </style>
    </head>

    <!-- encabezado-->
    <div align="center" class="titulo">
        <h1>Restablecer Contraseña</h1>
    </div>
    <br>
    <div align="center">
        <form method="post">
        {% csrf_token %}
        {{ form.as.p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

{% endblock %}
