{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load widget_tweaks %}
<!DOCTYPE html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}      
        <style>
        .titulo{
          background-color: darkblue;
          border-radius: 20px;
          padding: 10px;
          font-family: arial;
        }
        h1{
            color: white;
            font-size: xxx-large;
        }
        </style>
    </head>
    <body>
        <!-- encabezado-->

        <!-- contenido-->
       
        <div align="center">
            <div style="width: 70%;">
              <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            Titulo
                        </th>
                        <th scope="col">
                            Edición
                        </th>
                        <th scope="col">
                            Editorial
                        </th>
                        <th scope="col">
                            Año de publicación 
                        </th>
                        <th scope="col">
                            Número de páginas
                        </th>
                        <th scope="col">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    <tr>
                        <td scope="row">
                            {{ libro.pk }}
                        </td>
                        <td>
                            {{ libro.titulo }}
                        </td>
                        <td>
                            {{ libro.edicion }}
                        </td>
                        <td>
                            {{ libro.editorial }}
                        </td>
                        <td>
                            {{ libro.año_de_publicacion }}
                        </td>
                        <td>
                            {{ libro.pagina }}
                        </td>
                        <td>
                            <form method="post" id="form-eliminar" class="'form-eliminar" action="{% url 'eliminar_libro' libro.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="libro_id" value="{{ libro.pk }}">
                                <button type="button" class="btn btn-danger" id="btn-confirmar-eliminar">Eliminar</button>
                                <div class="dropdown" id="dropdown-confirmacion" style="display: none;">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Confirmar eliminación 
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item" type="submit">Sí, eliminar</button>
                                        <button class="dropdown-item" type="button" id="btn-cancelar-eliminar">Cancelar</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

              </table>  

   
            </div>
        </div>
        <script>
            $(document).ready(function(){
                //Mostrar el menú desplegable
                $('#btn-confirmar-eliminar').click(function(){
                    $('#dropdown-confirmacion').show();
                });
                //Cancelar eliminación
                $('#btn-confirmar-eliminar').click(function(){
                    $('#dropdown-confirmacion').show();
                });
            });
        </script>


       
       <!--
        1.Ahora que tenemos un form group arriba, esto nos permite crear labels para cada uno de los campos del formulario,

        2.El siguiente código creaba un formulario sin formato, form.as_p nos pintaba el formulario de un jalón sin personalización, ni estilo,
        ni nada, la etiqueta del for nos permitía recorrer los resultados de libros... 

        <div>
            {% for libro in libros %}
            <p>{{ libro.titulo }} </p>
            {% endfor %}
        </div>

        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>
        </div>

        3.Después de que comentamos este código, hay que comentar el path que lleva a esta función en url.py.

        -->

    </body>
</html>
{% endblock %}

